{% extends 'base.html.twig' %}

{% block title %}Let's chatte{% endblock %}

{% block body %}

    <div class="row mx-0 h-100">
        <div class="col-12 col-md-10 h-100 p-0">

            <div class="chat-container" id="chatBox">

                <div class="message">
                    <div class="row pl-4">
                    <span class="fa-stack h5">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa-stack-1x text-white">H</i>
                    </span>
                        <small class="text-muted font-weight-bold username">HazielKaos</small>
                        <xtrasmall class="text-muted">06/01/2021 à 14h40</xtrasmall>
                    </div>
                    <div class="messagecontent pl-5 ">
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthjefrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthjefrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthjefrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthjefrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                    </div>
                </div>
                <div class="message">
                    <div class="row pl-4">
                    <span class="fa-stack h5">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa-stack-1x text-white">H</i>
                    </span>
                        <small class="text-muted font-weight-bold username">HazielKaos</small>
                        <xtrasmall class="text-muted">06/01/2021 à 14h40</xtrasmall>
                    </div>
                    <div class="messagecontent pl-5 ">
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                    </div>
                </div>
                <div class="message">
                    <div class="row pl-4">
                    <span class="fa-stack h5">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa-stack-1x text-white">H</i>
                    </span>
                        <small class="text-muted font-weight-bold username">HazielKaos</small>
                        <xtrasmall class="text-muted">06/01/2021 à 14h40</xtrasmall>
                    </div>
                    <div class="messagecontent pl-5 ">
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                    </div>
                </div>
                <div class="message">
                    <div class="row pl-4">
                    <span class="fa-stack h5">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa-stack-1x text-white">H</i>
                    </span>
                        <small class="text-muted font-weight-bold username">HazielKaos</small>
                        <xtrasmall class="text-muted">06/01/2021 à 14h40</xtrasmall>
                    </div>
                    <div class="messagecontent pl-5 ">
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                    </div>
                </div>
                <div class="message">
                    <div class="row pl-4">
                    <span class="fa-stack h5">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa-stack-1x text-white">H</i>
                    </span>
                        <small class="text-muted font-weight-bold username">HazielKaos</small>
                        <xtrasmall class="text-muted">06/01/2021 à 14h40</xtrasmall>
                    </div>
                    <div class="messagecontent pl-5 ">
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                    </div>
                </div>
                <div class="message">
                    <div class="row pl-4">
                    <span class="fa-stack h5">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa-stack-1x text-white">H</i>
                    </span>
                        <small class="text-muted font-weight-bold username">HazielKaos</small>
                        <xtrasmall class="text-muted">06/01/2021 à 14h40</xtrasmall>
                    </div>
                    <div class="messagecontent pl-5 ">
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                    </div>
                </div>
                <div class="message">
                    <div class="row pl-4">
                    <span class="fa-stack h5">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa-stack-1x text-white">H</i>
                    </span>
                        <small class="text-muted font-weight-bold username">HazielKaos</small>
                        <xtrasmall class="text-muted">06/01/2021 à 14h40</xtrasmall>
                    </div>
                    <div class="messagecontent pl-5 ">
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                    </div>
                </div>
                <div class="message">
                    <div class="row pl-4">
                    <span class="fa-stack h5">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa-stack-1x text-white">H</i>
                    </span>
                        <small class="text-muted font-weight-bold username">HazielKaos</small>
                        <xtrasmall class="text-muted">06/01/2021 à 14h40</xtrasmall>
                    </div>
                    <div class="messagecontent pl-5 ">
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                    </div>
                </div>
                <div class="message">
                    <div class="row pl-4">
                    <span class="fa-stack h5">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa-stack-1x text-white">H</i>
                    </span>
                        <small class="text-muted font-weight-bold username">HazielKaos</small>
                        <xtrasmall class="text-muted">06/01/2021 à 14h40</xtrasmall>
                    </div>
                    <div class="messagecontent pl-5 ">
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                    </div>
                </div>
                <div class="message">
                    <div class="row pl-4">
                    <span class="fa-stack h5">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa-stack-1x text-white">H</i>
                    </span>
                        <small class="text-muted font-weight-bold username">HazielKaos</small>
                        <xtrasmall class="text-muted">06/01/2021 à 14h40</xtrasmall>
                    </div>
                    <div class="messagecontent pl-5 ">
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                    </div>
                </div>
                <div class="message">
                    <div class="row pl-4">
                    <span class="fa-stack h5">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa-stack-1x text-white">H</i>
                    </span>
                        <small class="text-muted font-weight-bold username">HazielKaos</small>
                        <xtrasmall class="text-muted">06/01/2021 à 14h40</xtrasmall>
                    </div>
                    <div class="messagecontent pl-5 ">
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                    </div>
                </div>
                <div class="message">
                    <div class="row pl-4">
                    <span class="fa-stack h5">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa-stack-1x text-white">H</i>
                    </span>
                        <small class="text-muted font-weight-bold username">HazielKaos</small>
                        <xtrasmall class="text-muted">06/01/2021 à 14h40</xtrasmall>
                    </div>
                    <div class="messagecontent pl-5 ">
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                    </div>
                </div>
                <div class="message">
                    <div class="row pl-4">
                    <span class="fa-stack h5">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa-stack-1x text-white">H</i>
                    </span>
                        <small class="text-muted font-weight-bold username">HazielKaos</small>
                        <xtrasmall class="text-muted">06/01/2021 à 14h40</xtrasmall>
                    </div>
                    <div class="messagecontent pl-5 ">
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                    </div>
                </div>
                <div class="message">
                    <div class="row pl-4">
                    <span class="fa-stack h5">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa-stack-1x text-white">H</i>
                    </span>
                        <small class="text-muted font-weight-bold username">HazielKaos</small>
                        <xtrasmall class="text-muted">06/01/2021 à 14h40</xtrasmall>
                    </div>
                    <div class="messagecontent pl-5 ">
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                    </div>
                </div>
                <div class="message">
                    <div class="row pl-4">
                    <span class="fa-stack h5">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa-stack-1x text-white">H</i>
                    </span>
                        <small class="text-muted font-weight-bold username">HazielKaos</small>
                        <xtrasmall class="text-muted">06/01/2021 à 14h40</xtrasmall>
                    </div>
                    <div class="messagecontent pl-5 ">
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                    </div>
                </div>
                <div class="message">
                    <div class="row pl-4">
                    <span class="fa-stack h5">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa-stack-1x text-white">H</i>
                    </span>
                        <small class="text-muted font-weight-bold username">HazielKaos</small>
                        <xtrasmall class="text-muted">06/01/2021 à 14h40</xtrasmall>
                    </div>
                    <div class="messagecontent pl-5 ">
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                    </div>
                </div>
                <div class="message">
                    <div class="row pl-4">
                    <span class="fa-stack h5">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa-stack-1x text-white">H</i>
                    </span>
                        <small class="text-muted font-weight-bold username">HazielKaos</small>
                        <xtrasmall class="text-muted">06/01/2021 à 14h40</xtrasmall>
                    </div>
                    <div class="messagecontent pl-5 ">
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                    </div>
                </div>
                <div class="message">
                    <div class="row pl-4">
                    <span class="fa-stack h5">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa-stack-1x text-white">H</i>
                    </span>
                        <small class="text-muted font-weight-bold username">HazielKaos</small>
                        <xtrasmall class="text-muted">06/01/2021 à 14h40</xtrasmall>
                    </div>
                    <div class="messagecontent pl-5 ">
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                    </div>
                </div>
                <div class="message">
                    <div class="row pl-4">
                    <span class="fa-stack h5">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa-stack-1x text-white">H</i>
                    </span>
                        <small class="text-muted font-weight-bold username">HazielKaos</small>
                        <xtrasmall class="text-muted">06/01/2021 à 14h40</xtrasmall>
                    </div>
                    <div class="messagecontent pl-5 ">
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                        efrgthj,nbvfgrthyj,nbvfdgthyjh,nbvfdgthyj,n bvfdghj,;nbvfdghj,k;,n bvfdfgthj,k;,nbvfcdsfrgthj,nbvcfdfrgthj
                    </div>
                </div>






            </div>

            <div class="chat-form">

                <div class="row">
                    <div class="col-10">
                        <div class="form-group p-1">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                        </div>
                    </div>
                    <div class="col-1 pl-0 row">
                        <button class="btn-clear ">
                    <span class="fa-stack">
                      <i class=" text-discord fas fa-circle fa-stack-2x"></i>
                      <i class="fas fa-paper-plane fa-stack-1x fa-inverse"></i>
                    </span>
                        </button>

                    </div>
                </div>


            </div>

        </div>
        <div class="col-2 d-none d-md-block  h-100 user-list">
            <div class="logout text-right mb-1">
                <a href="{{ path('app_logout') }}">Déconnexion <i class="fa fa-sign-out"></i></a>

            </div>
            <div class="user-container">
                <div class="user-card">
                    <div class="row">
                        <div class="col-2">
                         <span class="fa-stack h6">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fa-stack-1x text-white">H</i>
                             <div class="online "></div>

                        </span>
                        </div>
                        <div class="col-8 pl-4 ">
                            <small class="text-muted">
                                HazielKaos
                            </small>
                        </div>

                    </div>
                </div>

                <div class="user-card">
                    <div class="row">
                        <div class="col-2">
                         <span class="fa-stack h6">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fa-stack-1x text-white">H</i>

                        </span>
                        </div>
                        <div class="col-8 pl-4 ">
                            <small class="text-muted">
                                HazielKaos
                            </small>
                        </div>

                    </div>
                </div>
                <div class="user-card">
                    <div class="row">
                        <div class="col-2">
                         <span class="fa-stack h6">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fa-stack-1x text-white">H</i>

                        </span>
                        </div>
                        <div class="col-8 pl-4 ">
                            <small class="text-muted">
                                HazielKaos
                            </small>
                        </div>

                    </div>
                </div>
                <div class="user-card">
                    <div class="row">
                        <div class="col-2">
                         <span class="fa-stack h6">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fa-stack-1x text-white">H</i>

                        </span>
                        </div>
                        <div class="col-8 pl-4 ">
                            <small class="text-muted">
                                HazielKaos
                            </small>
                        </div>

                    </div>
                </div>
                <div class="user-card">
                    <div class="row">
                        <div class="col-2">
                         <span class="fa-stack h6">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fa-stack-1x text-white">H</i>

                        </span>
                        </div>
                        <div class="col-8 pl-4 ">
                            <small class="text-muted">
                                HazielKaos
                            </small>
                        </div>

                    </div>
                </div>
                <div class="user-card">
                    <div class="row">
                        <div class="col-2">
                         <span class="fa-stack h6">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fa-stack-1x text-white">H</i>

                        </span>
                        </div>
                        <div class="col-8 pl-4 ">
                            <small class="text-muted">
                                HazielKaos
                            </small>
                        </div>

                    </div>
                </div>
                <div class="user-card">
                    <div class="row">
                        <div class="col-2">
                         <span class="fa-stack h6">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fa-stack-1x text-white">H</i>

                        </span>
                        </div>
                        <div class="col-8 pl-4 ">
                            <small class="text-muted">
                                HazielKaos
                            </small>
                        </div>

                    </div>
                </div>
                <div class="user-card">
                    <div class="row">
                        <div class="col-2">
                         <span class="fa-stack h6">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fa-stack-1x text-white">H</i>

                        </span>
                        </div>
                        <div class="col-8 pl-4 ">
                            <small class="text-muted">
                                HazielKaos
                            </small>
                        </div>

                    </div>
                </div>
                <div class="user-card">
                    <div class="row">
                        <div class="col-2">
                         <span class="fa-stack h6">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fa-stack-1x text-white">H</i>

                        </span>
                        </div>
                        <div class="col-8 pl-4 ">
                            <small class="text-muted">
                                HazielKaos
                            </small>
                        </div>

                    </div>
                </div>
                <div class="user-card">
                    <div class="row">
                        <div class="col-2">
                         <span class="fa-stack h6">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fa-stack-1x text-white">H</i>

                        </span>
                        </div>
                        <div class="col-8 pl-4 ">
                            <small class="text-muted">
                                HazielKaos
                            </small>
                        </div>

                    </div>
                </div>
                <div class="user-card">
                    <div class="row">
                        <div class="col-2">
                         <span class="fa-stack h6">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fa-stack-1x text-white">H</i>

                        </span>
                        </div>
                        <div class="col-8 pl-4 ">
                            <small class="text-muted">
                                HazielKaos
                            </small>
                        </div>

                    </div>
                </div>
                <div class="user-card">
                    <div class="row">
                        <div class="col-2">
                         <span class="fa-stack h6">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fa-stack-1x text-white">H</i>

                        </span>
                        </div>
                        <div class="col-8 pl-4 ">
                            <small class="text-muted">
                                HazielKaos
                            </small>
                        </div>

                    </div>
                </div>
                <div class="user-card">
                    <div class="row">
                        <div class="col-2">
                         <span class="fa-stack h6">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fa-stack-1x text-white">H</i>

                        </span>
                        </div>
                        <div class="col-8 pl-4 ">
                            <small class="text-muted">
                                HazielKaos
                            </small>
                        </div>

                    </div>
                </div>
                <div class="user-card">
                    <div class="row">
                        <div class="col-2">
                         <span class="fa-stack h6">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fa-stack-1x text-white">H</i>

                        </span>
                        </div>
                        <div class="col-8 pl-4 ">
                            <small class="text-muted">
                                HazielKaos
                            </small>
                        </div>

                    </div>
                </div>
                <div class="user-card">
                    <div class="row">
                        <div class="col-2">
                         <span class="fa-stack h6">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fa-stack-1x text-white">H</i>

                        </span>
                        </div>
                        <div class="col-8 pl-4 ">
                            <small class="text-muted">
                                HazielKaos
                            </small>
                        </div>

                    </div>
                </div>
                <div class="user-card">
                    <div class="row">
                        <div class="col-2">
                         <span class="fa-stack h6">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fa-stack-1x text-white">H</i>

                        </span>
                        </div>
                        <div class="col-8 pl-4 ">
                            <small class="text-muted">
                                HazielKaos
                            </small>
                        </div>

                    </div>
                </div>


            </div>

        </div>
    </div>

    <script>
        function updateScroll() {
            var element = document.getElementById("chatBox");
            element.scrollTop = element.scrollHeight;
        }

        $(document).ready(() => {
            updateScroll()
        })
    </script>

{% endblock %}
